
.contribute_container img {

  max-height: 5.3125rem;
  max-width: 11.25rem;
  padding-top: 5px;
  padding-bottom: 10px;
}
#contribute_img_container {
  height: 100px;
    display: flex;
   justify-content: center;

}
.contribute_title {
  padding: 5px 30px;
}
.contribute_desc {
  padding: 5px 30px;
  font-size: 0.8rem;
  color: gray;
}
.contribute_container {
 /* width: 40%; */
 border: 1.5px solid black;
 display: flex;
 flex-direction: column;
 justify-content: center;
  background-color: white;
  border-radius: 10%;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
