.contri_container {
  background-color: white;
  width: 90%;
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
@media only screen and (max-width: 600px) {
  .contri_container {
    grid-template-columns: 80%;
  }
}
