#footer{
    background-color: whitesmoke;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    height: 50vh;
}
.footer-left{
    width: 40vw;
}
.fields{
    padding: 2rem;
    font-size: 1.2rem;
}
.field{
    padding: 1rem;
}
.field input{
    margin-top: 1rem;
    height: 3vh;
}
.send{
    padding-left: 3rem;
}
.send input{
    background-color: white;
    border:1px solid blue;
    padding: .5rem;
    font-size: 1rem;
}
.field textarea{
    margin-top: 1rem;
    height: 5vh;
    width: 15vw;
}
.footer-right{
    border: 4px solid #eee;
    width: 40vw;
    padding: 1rem;
    opacity: .6;
}
.right{
    border-bottom: 2px solid #eee;
    margin: 0;
    padding: 0;
    height: 10vh;
}
.address{
    font-size: 1.5rem;
}
.number,.email{
    padding-top: 1rem;
    font-size: 1.2rem;
}
.social{
    padding:1rem;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}