#intro{
    background-image: url('https://images.edexlive.com/uploads/user/imagelibrary/2020/5/26/original/ways-online.jpg?w=700&dpr=1.0');
    background-size: cover;
    background-blend-mode: lighten;
    opacity: .5;
    display: flex;
    flex-direction: column;
}
.Name{
    font-weight: bolder;
    opacity: 1;
}
.content-1{
    padding-top: 30vh;
    padding-left: 40vw;
    padding-bottom: 30vh;
}
.content-1 h1{
    font-size: 8rem;
}
.content-1 h6{
    font-size: 2rem;
}