#intro{
    background-image: url('https://images.edexlive.com/uploads/user/imagelibrary/2020/5/26/original/ways-online.jpg?w=700&dpr=1.0');
    background-size: cover;
      background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    opacity: .5;
  height: 500px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  text-align: center;
}
.Name{
    font-weight: bolder;
    opacity: 1;
}

.content-1 h1{
    font-size: 8rem;
   
}
.content-1 h6{
    font-size: 2rem;
}
@media only screen and (max-width: 600px) {
 .content-1 h1 {
    font-size: 5rem;
  }
 .content-1 h4{
      font-size: 0.7rem;
  }
}
