*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.head1{
    padding-top: 5rem;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px dotted rgba(0, 0, 0, 0.486); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}
.head1 span{
    background:#fff; 
    padding:0 20px; 
    font-size: 5rem;
}
.tagline{
    font-size: 2rem;
    word-spacing: .5rem;
    padding: .5rem;
    margin-bottom: 2rem;
}
.desc{
    font-size: 1.5rem;
    padding: 1.5rem;
}
.main-img{
    width: 50vw;
}
.main-cards{
    margin-top: 10rem;
    border-top: solid 2px #eeeeee;
    display: flex;
    flex-direction: column;
    color: black;
}
.card-container{
    display: flex;
}
.card1{
    border: solid 2px #eeeeee;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card1 h1{
    margin-top: 1rem;
}
.card1 p{
    font-size: 1.5rem;
    padding: 1rem;
}
/* .post-img{
    width: 20vw;
    padding: 1rem;
} */
.knowmore{
    align-items: baseline;
    color: aliceblue;
}
.know-container{
    margin-top: 1rem;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.know:hover{
    background-color: cornflowerblue;
    color: white;
}
.know{
    color: black;
    border: 1px solid cornflowerblue;
    width: 20%;
    padding: .5rem;
}
@media screen and (min-width:320px )and (max-width:800px) {
.post1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}}
