.Nav{
    background-color: #4068829b;
    position: fixed;
    z-index: 100;
    width: 100vw;
    display: flex;
    align-items: center;
}
.links{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.nav-links{
    text-decoration: none;
    color: white;
    font-size: 3vh;
    padding-left: 3rem;
    color: black;
}
.bars{
    display: none;
}
.fa-bars:hover{
    cursor: pointer;
}
.mobile-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:600px) {
    .bars{
        display: block;
        margin-left: 90%;
        margin-top: 1%;
    }
    .links{
        display: none;
    }
}