.work_container {
  background-color: white;
  width: 90%;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
}
#heading{
  font-size: 60px;
  font-weight: 800;
 
}